.cover {
    margin-top: 32px;
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.cover-content .cover-divider {
    height: 0.5px;
    margin-top: 32px;
    background-color: var(--light-gray-color)
}

.cover-icon {
    position: relative;
    margin-bottom: 16px;
}

.no-cover-site-title {
    margin-bottom: 32px;
}

.cover-icon-image {
    width: 170px;
    height: 170px;
    border-radius: calc(170px / 2);
}

.cover-description {
    font-size: 1.75rem;
}

.cover-developer-bio,
.cover-developer-skills {
    text-align: left;
    margin-top: 32px;
    font-size: 1.75rem;
}

.cover .developer-socials {
    gap: 18px;
    display: flex;
    padding: 16px;
}

.cover .developer-socials a:hover {
    opacity: 0.8;
}

.cover .developer-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-content-author-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .cover-content {
        margin: 0 auto;
        max-width: unset;
        flex-direction: row;
        align-items: stretch;
        padding: 2.5rem 10rem;
        justify-content: space-between;
    }

    .cover-developer-bio {
        margin-top: 0;
    }

    .cover-content-author-section,
    .cover-content-author-info-section {
        max-width: 50%;
    }

    .cover-content-author-section hr {
        display: none;
    }
}